<div class="row">
    <div class="col-7">
        <image-cropper
        [maintainAspectRatio]="true"
        [aspectRatio]=".71 / 1"
        [resizeToWidth]=512
        format="png"
        [imageChangedEvent]="imageChangedEvent"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    </div>
    
    <div class="col-5">
        <input type="file" (change)="fileChangeEvent($event)" />
        <ul class="nav nav-tabs">
            <li *ngFor="let gatchaTemplate of availableTemplates | keyvalue" class="nav item">
                <a class="nav-link">{{ gatchaTemplate.value['title'] }}</a>
            </li>
        </ul>
        <div #renderedImage class="png-container" [ngStyle]= "{
            'background-image': currentTemplate['background_url'],
            'background-repeat': 'no-repeat',
            'width': currentTemplate['width'] + 'px'
        }">
            <img [src]="croppedImage" class="output-image" />
            <img [src]="currentTemplate['template_url']" class="template-image" />
        </div>
        <button #downloadRender>Download</button>
    </div>
</div>

