<div class="row mt-2 justify-content-center">
    <div class="card col-auto hero-canvas-container p-o mb-2 border-0">
        <!--
            width and height set inline to prevent blurring canvas behavior
            https://stackoverflow.com/questions/17854336/html-blurry-canvas-images/17854337#17854337
        -->
        <canvas #heroCanvas [width]="currentTemplate['width']" [height]="currentTemplate['height']">
        </canvas>
    </div>
    <div class="card col mb-2 p-0">
        <ul class="nav nav-tabs">
            <li *ngFor="let gatchaTemplate of availableTemplates | keyvalue" class="nav-item">
                <a class="nav-link" [ngClass]="{active: gatchaTemplate.value['title'] == currentTemplate['title']}" (click)="changeTemplate(gatchaTemplate.key)" [routerLink]="">{{ gatchaTemplate.value['title'] }}</a>
            </li>
        </ul>
        <div class="card-body tab-content">
            <input type="file" (change)="fileChangeEvent($event)" />
            <sf-form [schema]="currentTemplate['schema']" [(model)]="currentTemplate['model']" (onChange)="triggerRender()"></sf-form>
            <p>Model Sanity Check</p>
            <pre>{{currentTemplate['model']|json}}</pre>
        </div>
    </div>
</div>
<div class="row mt-2 justify-content-center">
    <div class="col-12">
        <image-cropper
        [maintainAspectRatio]="true"
        [aspectRatio]="9/16"
        [resizeToWidth]="720"
        format="png"
        [imageChangedEvent]="imageChangedEvent"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    </div>
</div>